<ion-view view-title="关于作者">
  <ion-content>
    <div class="card">
      <div class="item item-body">
        <div marked ng-include="'assets/about.md'"></div>
      </div>
    </div>
    <a class="button button-full" href="#" ng-controller="AccountCtrl" ng-click="promptRating()">
      评价
      <i class="ion-ios-star"></i>
    </a>
    <a class="button button-full" href="#" ng-click="sendMail()">
      <i class="ion-ios-email-outline"></i>
      联系我:h@phodal.com
    </a>
  </ion-content>
</ion-view>
