<ion-view view-title="教你设计物联网">
  <ion-content>
    <div class="card">
      <div class="item item-head">
        下载
      </div>
      <div class="item item-body">
        <a href="#"
           onclick="window.open('https://github.com/phodal/designiot/raw/gh-pages/build/designiot.epub', '_system');">EPUB版</a>
        \
        <a href="#"
           onclick="window.open('https://github.com/phodal/designiot/blob/gh-pages/build/designiot.mobi', '_system');">Mobi版</a>
      </div>
    </div>
    <div class="card">
      <div class="item item-body">
        <div marked ng-include="'assets/pre.md'"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
