<ion-view view-title="关于作者">
  <ion-content>
    <div class="card">
      <div class="item item-body">
        <div marked ng-include="'assets/about.md'"></div>
      </div>
    </div>
    <a class="button button-full" href="#" ng-controller="AccountCtrl" ng-click="promptRating()">
      <i class="ion-ios-star-outline"></i>
      评价
    </a>
    <a class="button button-full" href="#" ng-click="sendMail()">
      <i class="ion-ios-email-outline"></i>
      联系我:h@phodal.com
    </a>
    <a class="button button-full" href="#" onclick="window.plugins.socialsharing.share(
    '#设计物联网# @phodal 设计物联网系统是件有意思的事，它需要考虑到软件、硬件、通讯等多个方面。通过探索不同的语言、不同的框架，从而形成不同的解决方案。',
    null,
    null,
    'https://market.android.com/details?id=com.phodal.geekslove')">

      <i class="ion-ios-redo-outline"></i>
      分享
    </a>
  </ion-content>
</ion-view>
