<ion-view view-title="实验室">
  <ion-content ng-controller="FlaskCtrl">
    <div class="card">
      <div class="item item-body">
        <div marked ng-include="'assets/flask.md'"></div>
        网址: <a href="#" onclick="window.open('http://mqtt.phodal.com', '_system');">http://mqtt.phodal.com</a>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        获取
      </div>
      <div class="item item-input">
        <form novalidate name="getData" action="#">
          <input type="text" placeholder="ID: 如phodal" ng-model="uid">
          <button class="button button-block button-positive" ng-click="get(uid)">获取</button>
        </form>
      </div>
      <div class="item item-divider">
        发送
      </div>
      <div class="item item-input">
        <form novalidate name="postData" action="#">
          <input type="text" placeholder="数据" ng-model="data.data">
          <input type="text" placeholder="ID: 如phodal" ng-model="data.uid">
          <button class="button button-block button-positive" ng-click="post(data)">发送</button>
        </form>
      </div>
    </div>
    <div class="card">
      <pre>{{master}}</pre>
    </div>
  </ion-content>
</ion-view>
