<ion-view view-title="文章">
  <ion-content>
    <ion-list>
        <md-content>
            <md-card>
                <img src="img/homepage.png" alt="Washed Out">
                <md-card-content>
                    <h2>Paracosm</h2>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
            </md-card>
            <md-card>
                <img src="img/homepage.png" alt="Washed Out">
                <md-card-content>
                    <h2>Paracosm</h2>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
            </md-card>
            <md-card>
                <img src="img/homepage.png" alt="Washed Out">
                <md-card-content>
                    <h2>Paracosm</h2>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>
            </md-card>
        </md-content>
    </ion-list>
  </ion-content>
</ion-view>
